app:
  host: ...
  port: ...

token:
  secret: ...
  expiration_time: ...
  algorithm: ...

database:
  name: ...
  user: ...
  password: ...
  host: ...
  port: ...
  admin_user: ...
  admin_password: ...

tm:
  api_url: https://app.ticketmaster.com/discovery/v2/events.json
  api_key: ...
